USE [Library]
GO
/****** Object:  Table [dbo].[BookRequests]    Script Date: 4/23/2023 5:04:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatronId] [int] NOT NULL,
	[BookTitle] [varchar](255) NOT NULL,
	[AuthorFName] [varchar](50) NOT NULL,
	[AuthorLName] [varchar](50) NOT NULL,
	[WaitList] [varchar](3) NOT NULL,
 CONSTRAINT [PK__BookRequ__3214EC07DD806199] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 4/23/2023 5:04:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookTitle] [varchar](255) NOT NULL,
	[AuthorFName] [varchar](255) NULL,
	[AuthorLName] [varchar](255) NULL,
	[Genre] [varchar](500) NOT NULL,
	[Price] [decimal](5, 2) NOT NULL,
	[Status] [varchar](5) NOT NULL,
	[DueDate] [date] NULL,
	[PatronId] [int] NULL,
 CONSTRAINT [PK__Books__3214EC071A6E58A5] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patrons]    Script Date: 4/23/2023 5:04:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patrons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[StreetAddress] [varchar](255) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[State] [varchar](10) NOT NULL,
	[PostalCode] [varchar](5) NOT NULL,
	[PhoneNumber] [varchar](12) NOT NULL,
	[BooksHistory] [nvarchar](max) NULL,
 CONSTRAINT [PK__Patrons__3214EC07C9390655] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 4/23/2023 5:04:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](255) NOT NULL,
	[LastName] [varchar](255) NOT NULL,
	[PhoneNumber] [varchar](255) NULL,
	[Email] [varchar](50) NULL,
	[Position] [varchar](255) NULL,
 CONSTRAINT [PK__Staff__3214EC07AB296E8E] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BookRequests] ON 

INSERT [dbo].[BookRequests] ([Id], [PatronId], [BookTitle], [AuthorFName], [AuthorLName], [WaitList]) VALUES (1, 1021, N'New Moon', N'Stephanie', N'Meyer', N'Yes')
INSERT [dbo].[BookRequests] ([Id], [PatronId], [BookTitle], [AuthorFName], [AuthorLName], [WaitList]) VALUES (4, 1019, N'Harry Potter and the Philosopher''s Stone', N'J.K.', N'Rowling', N'Yes')
INSERT [dbo].[BookRequests] ([Id], [PatronId], [BookTitle], [AuthorFName], [AuthorLName], [WaitList]) VALUES (5, 1018, N'Harry Potter and the Philosopher''s Stone', N'J.K.', N'Rowling', N'Yes')
SET IDENTITY_INSERT [dbo].[BookRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [BookTitle], [AuthorFName], [AuthorLName], [Genre], [Price], [Status], [DueDate], [PatronId]) VALUES (1, N'Da Vinci Code,The', N'Dan', N'Brown', N'Crime, Thriller & Adventure', CAST(12.00 AS Decimal(5, 2)), N'Out', CAST(N'2023-03-03' AS Date), 902)
INSERT [dbo].[Books] ([Id], [BookTitle], [AuthorFName], [AuthorLName], [Genre], [Price], [Status], [DueDate], [PatronId]) VALUES (2, N'Harry Potter and the Deathly Hallows', N'J.K.', N'Rowling', N' Children''s Fiction', CAST(12.00 AS Decimal(5, 2)), N'Out', CAST(N'2023-03-05' AS Date), 902)
INSERT [dbo].[Books] ([Id], [BookTitle], [AuthorFName], [AuthorLName], [Genre], [Price], [Status], [DueDate], [PatronId]) VALUES (3, N'Harry Potter and the Philosopher''s Stone', N'J.K.', N'Rowling', N'Children''s Fiction', CAST(12.00 AS Decimal(5, 2)), N'Out', CAST(N'2023-04-14' AS Date), 1018)
GO
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Patrons] ON 

INSERT [dbo].[Patrons] ([Id], [FirstName], [LastName], [Email], [StreetAddress], [City], [State], [PostalCode], [PhoneNumber], [BooksHistory]) VALUES (1, N'Ilene', N'Crosthwaite', N'icrosthwaite0@nytimes.com', N'2978 Hooker Hill', N'Myrtle Beach', N'SC', N'29579', N'843-947-1895', NULL)
INSERT [dbo].[Patrons] ([Id], [FirstName], [LastName], [Email], [StreetAddress], [City], [State], [PostalCode], [PhoneNumber], [BooksHistory]) VALUES (3, N'Belle', N'Cullum', N'bcullum2@simplemachines.org', N'18 Jackson Parkway', N'Fayetteville', N'NC', N'28314', N'910-300-0223', NULL)
INSERT [dbo].[Patrons] ([Id], [FirstName], [LastName], [Email], [StreetAddress], [City], [State], [PostalCode], [PhoneNumber], [BooksHistory]) VALUES (4, N'Dennet', N'Leyninye', N'dleyninye3@google.pl', N'242 Ryan Drive', N'Tuscaloosa', N'AL', N'35405', N'205-904-0796', NULL)
GO
SET IDENTITY_INSERT [dbo].[Patrons] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([Id], [FirstName], [LastName], [PhoneNumber], [Email], [Position]) VALUES (1, N'James', N'Remus', N'5738087408', NULL, N'Admin')
INSERT [dbo].[Staff] ([Id], [FirstName], [LastName], [PhoneNumber], [Email], [Position]) VALUES (2, N'Kris', N'Remus', N'5730806362', NULL, N'Admin')
INSERT [dbo].[Staff] ([Id], [FirstName], [LastName], [PhoneNumber], [Email], [Position]) VALUES (4, N'Jonathan', N'Remus', N'5736739201', NULL, N'Guard')
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
ALTER TABLE [dbo].[BookRequests]  WITH CHECK ADD  CONSTRAINT [FK__BookReque__Patro__18EBB532] FOREIGN KEY([PatronId])
REFERENCES [dbo].[Patrons] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BookRequests] CHECK CONSTRAINT [FK__BookReque__Patro__18EBB532]
GO
ALTER TABLE [dbo].[Books]  WITH NOCHECK ADD  CONSTRAINT [FK__Books__PatronId__38996AB5] FOREIGN KEY([PatronId])
REFERENCES [dbo].[Patrons] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK__Books__PatronId__38996AB5]
GO
